<!DOCTYPE html>
<html>
<head>
<title>FindSubby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
  <body class="min-h-screen bg-gray-50">
    <nav class="border-b bg-white">
      <div class="mx-auto max-w-6xl p-4 flex items-center justify-between">
        <%= link_to 'FindSubby', root_path, class: 'font-semibold' %>
        <div class="space-x-4">
          <% if user_signed_in? %>
          <%= link_to 'Dashboard', dashboard_path, class: 'text-sm' %>
          <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-sm' %>
          <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'text-sm' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'text-sm' %>
          <% end %>
        </div>
      </div>
    </nav>
    <% flash.each do |type, msg| %>
    <div class="mx-auto max-w-6xl p-4 text-sm text-white <%= type == 'alert' ? 'bg-red-600' : 'bg-green-600' %>"><%= msg %></div>
    <% end %>
    <main class="mx-auto max-w-6xl p-6">
      <%= yield %>
    </main>
  </body>
</html>
